<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}PyNomic{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/htdocs/style.css" media="screen" />
{% block css %}{% endblock %}
</head>
<body>
<div id="header">
<h1>{% block title2 %}PyNomic{% endblock %}</h1>
 <div id="menu">
  <ul id="nav">
   <li><a href="/">Home</a></li>
   <li><a href="/browser">Browser</a></li>
   {% if user_admin %}
   <li><a href="/admin">Admin</a></li>
   {% endif %}
  </ul>
  <ul id="userbar">
    {% if user %}
    <li><span>Hello {{ user.user.nickname }}</span></li>
    <li><a href="{{ user_url }}">Logout</a></li>
    {% else %}
    <li><a href="{{ user_url }}">Login</a></li>
    {% endif %}
  </ul>
 </div>
</div>
<div id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>