{% extends "base.html" %}

{% block css %}
<style type="text/css">
  #browser_path {
    font-size: 130%;
  }
  
  #browser_path .root {
    color: #555;
  }
</style>
{% endblock %}

{% block content %}
<div id="browser">
  <div id="browser_path">
    <a href="/browser" class="root">[root]</a>
    {% for seg in path_segs %}
    / <a href="/browser{{ seg.path }}">{{ seg.seg }}</a>
    {% endfor %}
  </div>
  <table>
    {% if dir.parent_ %}
    <tr>
      <td><a class="up_link" href="/browser{{ dir.parent_.path.rstrip('/') }}">..</a></td>
      <td></td>
    </tr>
    {% endif %}
    {% for dir in children %}
    <tr>
      {% if dir.children.count(1) %}
      <td><a href="/browser{{ dir.path }}">{{ dir.name }}</a></td>
      <td></td>
      {% else %}
      <td><a href="/browser{{ dir.path }}">{{ dir.name }}</a></td>
      <td>{{ dir.latest.size }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}