{% extends "base.html" %}

{% block css %}
<style type="text/css">
  #browser_path {
    font-size: 130%;
  }
  
  #browser_path .root {
    color: #555;
  }
</style>
{% endblock %}

{% block content %}
<div id="browser">
  <div id="browser_path">
    <a href="/browser" class="root">[root]</a>
    {% for seg in path_segs %}
    / <a href="/browser{{ seg.path }}">{{ seg.seg }}</a>
    {% endfor %}
  </div>
  {% if mode == 'code' %}
  <div class="code">
  {{ highlighted }}
  </div>
  {% elif mode == 'image' %}
  <img src="/browser/{{ file.path }}?format=raw" />
  {% elif mode == 'binary' %}
  Binary file, no web view available yet.
  {% endif %}
</div>

<div id="right">
  <div class="box">
    <ul>
      <li><a href="/proposal/create?path={{ path }}">Create proposal</a></li>
      {% if user_admin %}
      <li><a href="/edit/{{ path }}">Edit</a></li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}