{% extends "base.html" %}

{% block css %}
<style type="text/css">
#title {
  width: 40em;
}
</style>
{% endblock %}

{% block content %}
<div id="proposal">
  <form method="post" enctype="multipart/form-data">
    <p>
      <label for="title">Title:</label>
      <input id="title" name="title" value="{{ title }}" />
    </p>
    <p>
      <label for="newfile">New file:</label>
      <input type="file" id="newfile" name="newfile" />
    </p>
    <p>
      <input type="submit" name="save_binary" value="Save" />
      {% if user_props %}
      <input type="submit" name="append_binary" value="Append to" />
      <select name="append_to">
        {% for prop in user_props %}
        <option value="{{ prop.key().id() }}">{{ prop.title }}</option>
        {% endfor %}
      </select>
      {% endif %}
    </p>
  </form>
</div>
{% endblock %}