{% extends "base.html" %}

{% block content %}
<div id="proposal">
  <h1>{{ title }}</h1>
  <div class="code">
  {{ highlighted }}
  </div>
  <form method="post">
    <input type="hidden" name="title" value="{{ title|escape }}" />
    <input type="hidden" name="data" value="{{ data|escape }}" />
    <input type="hidden" name="diff" value="{{ diff_data|escape }}" />
    <p>
      <input type="submit" name="create" value="Edit" />
      <input type="submit" name="save" value="Save" />
      {% if user_props %}
      <input type="submit" name="append" value="Append to" />
      <select name="append_to">
        {% for prop in user_props %}
        <option value="{{ prop.key().id() }}">{{ prop.title }}</option>
        {% endfor %}
      </select>
      {% endif %}
    </p>
  </form>
</div>
{% endblock %}