{% extends "base.html" %}

{% block css %}
<style type="text/css">
{{ pygments_css }}
</style>
{% endblock %}

{% block content %}
<div id="proposal">
  <div class="code">
  {{ highlighted }}
  </div>
  <form method="post">
    <input type="hidden" name="data" value="{{ data|escape }}" />
    <input type="hidden" name="diff" value="{{ diff_data|escape }}" />
    <p>
      <input type="submit" name="create" value="Edit" />
      <input type="submit" name="save" value="Save" />
    </p>
  </form>
</div>
{% endblock %}