{% extends "base.html" %}

{% block css %}
<style type="text/css">
{{ pygments_css }}
</style>
{% endblock %}

{% block content %}
<div id="proposal">
  <div class="code">
  {{ highlighted }}
  </div>
  <form method="post">
    <p>
      {% if user_admin %}
      <input type="submit" name="apply" value="Apply" />
      {% endif %}
    </p>
  </form>
</div>

<div id="right">
  <div class="box">
    <ul>
      <li>Author: {{ prop.user.nickname }}</li>
      <li>State: {{ prop.state }}</li>
    </ul>
  </div>
</div>
{% endblock %}