<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>{% block title %}PyNomic{% endblock %}</title>
    <!--!<script type="text/javascript" src="/static/js/jquery-1.3.2.js"></script>-->
    <!--!<script type="text/javascript" src="/static/js/jquery.fancybox-1.2.1.pack.js"></script>-->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css" /> 
    <!--!<link rel="stylesheet" type="text/css" href="/static/css/jquery.fancybox.css" media="screen" />-->
    <style type="text/css">
    #userbar {
      text-align: right;
    }
    
    .added {
      background-color: #DDD;
      margin: 5px;
      padding: 5px;
      float: left;
      text-align: center;
    }
    </style>
  </head>
  <body>
    <div id="userbar">
      {% if user %}
      Hello {{ user.nickname }} | <a href="{{ user_url }}">Logout</a>
        {% if user_admin %}
          | <a href="{% url AdminHandler %}">Admin</a>
        {% endif %}
      {% else %}
      <a href="{{ user_url }}">Login</a>
      {% endif %}
    </div>
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>
  </body>
</html>